/* Documentos */
#documentsWindow{
  padding-bottom: 15px;
}
#documentsWindow .top{
  width:100%;
  height:35px;
}
#documentsWindow .top .title{
  font-size: 11px;
  color:#3fa9f5;
  font-weight: bold;
  display: inline-block;
}
#documentsWindow .top .addButton{
  font-size: 11px;
  color:#7ac943;
  float:right;
  display: inline-block;
}
#documentsWindow .searchFields{
  width:100%;
  height:25px;
}
#documentsWindow .searchFields .searchBtn{
  font-size: 13px;
  background:#3fa9f5;
  color:#FFF;
  padding:8px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  width:calc(20% - 46px);
  text-align: center;
}
.select {
    position: relative;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 20%;
    border-radius: 3px;
    background-color: #fff;
    display: inline-block;
    background: #fff url("http://i.imgur.com/cJr4mHf.gif") no-repeat 90% 50%;
}
.select div{
  position: absolute;
  top:-16px;
  left:0;
  font-size: 11px;
  color:#666;
}

.select select {
    cursor: pointer;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select select:focus {
    outline: none;
}
#documentsResult{
  background:#FFF;
  width:calc(100% - 30px);
  min-width:450px;
  border-radius:7px;
  padding:10px;
  box-shadow: 0px 0px 3px 0px #AAA;
}
#documentsResult th{
  font-size: 12px;
  color:#222;
}
#documentsResult table{
  table-layout: fixed;
  font-size: 11px;
  color:#666;
  width:100%;
}
#documentsResult table .top td{
  color:#444;
  font-weight: bold;
  padding-bottom: 8px;
}
#documentsResult table td{
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#resultsTitle{
  color:#FFF;
  height:13px;
  margin-top:10px;
  margin-bottom:10px;
}
#documentsResult table img{
  height:25px;
}
#documentsResult table .carr{
  text-align: left;
}
#documentsResult table .type{
  width:40px;
}
#documentsResult table .year{
  width:40px;
}
#documentsResult table .edit{
  text-align: center;
}
#documentsResult table .edit img{
  height:15px;
}
#documentsResult table .dwnl{
  color:#3fa9f5;
  font-weight: bold;
  text-align: left;
}
