/* Perfil */
:root {
  --azul:#0071bc;
  --celeste: #3fa9f5;
  --verde:#7ac943;
  --rojo:#ff1d25;
  --naranjo:#ff931e;
  --gris:#bdccd4;
  --rosado:#ff7bac;
}
.backPart{
  width:calc(100% - 10px);
  height:500px;
  background:#FFF;
  position:absolute;
  z-index: 10;
  top:-500px;
}
#middleBar{
  width:calc(100vw - 525px);
  min-width:450px;
  left:240px;
  height:calc(100vh - 55px);
  position:absolute;
  overflow-y: overlay;
  overflow-x: hidden;
  z-index: 10;
}
#middleBar .profileWindow{
  background:#FFF;
  width:calc(100% - 10px);
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 3px 0px #AAA;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;

}
#middleBar .profileImage{
  border-radius: 50px;
  border:4px solid #FFF;
  box-shadow: 0px 0px 3px 0px #AAA;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  background:white;
  width:80px;
  height:80px;
}
#middleBar .profileImage img{
  left:-1px;
  top:-1px;
  position:relative;
  height:82px;
  width:82px;
}
#middleBar .profileImage:hover img{
  filter: brightness(40%);
  background:#FEFEFE;
}
#middleBar .profileImage div{
  display: none;
  height:80px;
  width:80px;
  color:#FFF;
  font-size: 10px;
  text-align: center;
  position: absolute;
  line-height: 80px;
  top:0;
  left:0;
}
#middleBar .profileImage:hover div{
  display:inherit;
}
.middle .fullName{
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -1px;
  padding-top: 10px;
}
.middle .career{
  font-size: 12px;
  letter-spacing: -1px;
  margin-top: 6px;
  color:#666;
}
.middle .city{
  display:inline-block;
  font-size: 11px;
  letter-spacing: -1px;
  margin-top: 6px;
  color:#888;
}
.middle .age{
  display:inline-block;
  font-size: 10px;
  letter-spacing: -1px;
  margin-top: 6px;
  color:#AAA;
}
.middle .message {
  position:relative;
  padding:10px 15px 10px 15px;
}
.middle .message .text{
  font-size: 11px;
  letter-spacing: 0px;
  margin-top: 0px;
  letter-spacing: 0px;
  color:#777;
  max-width: 500px;
  display:inline-block;
}
.middle .message:hover img{
  display:inline-block;
}
.middle .message img{
  top:calc(50% - 6px);
  position:absolute;
  height: 13px;
  padding-left: 3px;
  padding-top: 3px;
  display:none;
}
.middle .follow{
  border-top: 1px solid #EEE;
  font-size: 12px;
  letter-spacing: 0px;
  margin-top: 10px;
  color:var(--celeste);
  width:70%;
}
.middle .sa{
  display:inline-block;
  width:80px;
  margin-top: 5px;
}
.middle .sa .name{
  margin-top: 2px;
  font-size: 10px;
}
.middle .sa .number{
  font-size: 20px;
  font-weight: bold;
}
.profileImage img{
  height:80px;
}
.followOptions{
  text-align: left;
  padding:10px;
  height:100px;
  width:200px;
  font-size:12px;
  position:absolute;
  top:0;
}
.followOptions .followTitle{
  color:var(--celeste);
  border-bottom: 1px solid #CCC;
  width:70px;
  font-weight:bold;
  font-size:11px;
}
.followOptions .option{
  margin-top:5px;
  font-size: 10px;
}
.followOptions .option span{
  color:var(--verde);
  margin-left: 3px;
  font-size: 9px;
}
.followOptions .preguntas{
  color:var(--naranjo);
}
.followOptions .publicaciones{
  color:var(--rojo);
}
.followOptions .eventos{
  color:#662d91;
}
.followOptions img{
  margin-top:9px;
  height:15px;
}
.rightOptions{
  text-align: right;
  position: absolute;
  right:10px;
  top:0;
  padding:10px;
  font-size: 10px;
}
.rightOptions img{
  height:10px;
  margin-left: 5px;
}
.rightOptions .ubicacion{
  color:#93278f;
}
.rightOptions .mensaje{
  margin-top: 5px;
  color:var(--verde);
}
.rightOptions .mensaje img{
  position:relative;
  height:6px;
  left:1px;
}

#middleBar .sections{
  background:#FFF;
  width:calc(100% - 15px);
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px #AAA;
  text-align: left;
  margin-top: 10px;
  padding-left: 2px;
  position:relative;
}
#middleBar .sections .04{

}
#middleBar .sections .section{
  display:inline-block;
  opacity:0.8;
  margin:5px;
  padding:5px;
  border-radius: 5px;
  cursor:pointer;
}
#middleBar .sections .section:hover{
  opacity:0.5;
}
#middleBar .sections .section img{
  height:23px;
}
#middleBar .photos{
  background:#FFF;
  width:calc(100% - 15px);
  border-radius: 10px;
  margin-top: 10px;
  padding-right: 5px;

  flex-direction: row;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#middleBar .invPhoto{
  width:55px;
  margin-left: 10px;
  margin-right: 10px;
}
#middleBar .photos .imgCont{
  height:55px;
  width:55px;
  margin:10px;
  position: relative;
}
#middleBar .photos .imgCont:hover .photo{
  height:61px;
  width:61px;
  top:-3px;
  left:-3px;
}
#middleBar .photos .imgCont .photo{
  height:55px;
  width:55px;
  border:2px solid #FFF;
  box-shadow: 0px 0px 3px 0px #AAA;
  overflow: hidden;
  position:absolute;
}
#middleBar .photos .photo img{
  position:relative;
  height:100%;
}
#middleBar .sec.publications{
  max-width:calc(100% - 10px);
  margin-top: 10px;
  margin-bottom: 20px;
}
.publications .publication{
  position: relative;
  border-bottom: 1px solid #EEE;
  background:#FFF;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;

}
.publications .top{
  width:100%;
  padding:10px;
  padding-bottom: 2px;
}
.publications .profImage{
  height:30px;
  width:30px;
  border:solid 2px #FFF;
  box-shadow: 0px 0px 2px 0px #AAA;
  border-radius: 8px;
  display: inline-block;
}
.publications .fullname{
  display: inline-block;
  font-weight: bold;
  letter-spacing: -0px;
  color:#555;
  margin-left: 5px;
  font-size: 14px;
}
.publications .type{
  display: inline-block;
  letter-spacing: -0px;
  color:#999;
  margin-left: 3px;
  margin-top: 4px;
  font-size: 11px;
}
.publications .date{
  position: absolute;
  top:30px;
  left:55px;
  color:#999;
  font-size: 10px;
  letter-spacing: -0px;
}
.publications .options{
  position: absolute;
  right:10px;
  height:15px;
}
.publications .h{
  position: relative;
  display:inline-block;
  top:-2px;
  vertical-align:top;
}
.publications .content{
  padding-top: 10px;
  letter-spacing: -0px;
  font-size: 13px;
  margin-left: 30px;
  margin-bottom: 5px;
  margin-right: 50px;
  color:#555;
  max-width: 400px;
}
.publications .infoBar{
  position:relative;
  width:100%;
  border-top:1px solid #EEE;
  margin-top: 15px;
  font-size: 10px;
  color:#888;
  background:#FAFAFA;
}
.publications .infoBar .com{
  margin:9px;
  display: inline-block;
}
.publications .infoBar .gus{
  margin:9px;
  display: inline-block;
  margin-left: 15px;
}
.liked{
  color:#3fa9f5;
}
.publications .attach{
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: left;
  margin-left: 20px;
  width:100%;
  position:relative;
  overflow: hidden;
  padding:5px;
}
.publications .urls .emb{
  padding:5px;
  margin-left:40px;
  position: relative;
}
.publications .imageAdded{
  max-width: calc(100% - 40px);
  height: 300px;
  margin:5px;
  border:5px solid #FFF;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px #AAA;
}
.publications .miniImageAdded{
  max-width: 300px;
  height: 100px;
  margin:5px;
  border:5px solid #FFF;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px #AAA;
}
.publications .miniMoreImageAdded{
  min-width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 35px;
  color:#3fa9f5;
  background:#EFEFEF;
  text-align: center;
  margin:5px;
  border:5px solid #FFF;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px #AAA;
  display:inline-block;
  vertical-align: top;
}
.newPost{
  background:var(--celeste);
  border-radius:10px;
  padding:7px;
  color:#FFF;
  position: absolute;
  right:8px;
  top:7px;
  font-size:13px;
  text-align:center;
  padding-left: 10px;
  padding-right: 10px;
}
.postWindow{
  background:#FFF;
  border-radius: 10px;
  width:550px;
  margin: 0 auto;
  margin-top:calc(50vh - 200px);
  position:relative;
  padding: 15px;
}
.postWindow .close{
  position:absolute;
  right:2px;
  top:0px;
  height:10px;
  padding:10px;
}
.postWindow .top{
  width:100%;
  margin-bottom:8px;
}
.postWindow .title{
  position:relative;
  font-weight: bold;
  color:#444;
  font-size:13px;
  display: inline-block;
}
.postWindow .viewMode{
  display: inline-block;
  float:right;
  color:var(--verde);
  font-size: 11px;
}
.postWindow .viewMode .followed{
  display: inline-block;
  margin-right:4px;
  font-weight: bold;
}
.postWindow .viewMode .all{
  display: inline-block;
  margin-left:4px;
}
.postWindow textarea{
  padding:8px;
  position: relative;
  width: calc(100% - 20px);
  height:50px;
  border-radius: 5px;
  border:solid 1px #E7E7E7;
  resize:none;
  outline:none;
  color:#666;
  font-size: 15px;
}
.postWindow .bottom{
  padding-top: 8px;
  width:100%;
}
.postWindow .addLink{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height:16px;
  margin-left: 5px;
}
.postWindow .addPhoto{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height:20px;
}
.postWindow .post{
  vertical-align: middle;
  display: inline-block;
  font-size:13px;
  padding:4px 7px 4px 7px;
  color:#FFF;
  background:var(--celeste);
  border-radius:5px;
  float: right;
}
